<?xml version="1.0" encoding="UTF-8" ?>


<web-app>
  <display-name>WebBasics</display-name>



  <servlet>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>org.example.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/servlets</url-pattern>
  </servlet-mapping>




  <filter>
  <filter-name>DataFilter</filter-name>
<filter-class>org.example.filtres.DataFilter</filter-class>
</filter>
  <filter-mapping>
    <filter-name>DataFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>org.example.filtres.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
